<link rel="stylesheet" href="/css/user_profile.css">
<li id="<%= post.id %>">
   <div>
    <p>
      <% if(locals.user && locals.user.id==post.user.id) { %>
      <small>
        <a class="delete-post-button" href="/posts/destroy/<%= post.id%>">delete</a>
      </small>
      <% } %>
    </p>
    <div><%= post.content %><small><br>Posted by:<span style='font-size:15px;'>&#128104;</span><%= post.user.name %></small></div>
    <div>Posted at :📅<%= post.createdAt.toDateString().substr(3,12) %></div>
    </div>
    
    <div class="post-comments">
      <% if(locals.user){ %>
        <form action="/comments/create" method="post">
            <input type="text" name="content" placeholder="Type here to add comment...">
            <input type="hidden" name="post" value="<%= post._id %>">
            <input type="submit" value="Add Comment">
        </form>
      <% } %>
      <div class="post-comments-list">
        <ul id="post-comments-<%= post._id %>">
          <% for(comment of post.comments) {%>
          <%- include('_comment') -%>
          <% } %>
        </ul>
      </div>
    </div>
  </li>